fastapi
uvicorn[standard]
pypdf
numpy
langchain
langchain-community
langchain-pinecone
pinecone-client
python-dotenv
python-multipart
requests
langchain-google-genai
google-generativeai
from_root
boto3
ipykernel
streamlit