fastapi
uvicorn[standard]
pypdf
sentence-transformers
transformers
torch
numpy
chromadb
langchain
langchain-community
langchain-huggingface
python-dotenv
tqdm
python-multipart
requests
langchain-google-genai
google-generativeai
from_root